@font-face {
    font-family: "regular";
    src: url("fonts/lineto-brown-regular.woff2");
}

@font-face {
    font-family: "bold";
    src: url("fonts/lineto-brown-bold.woff2");
}

@font-face {
    font-family: "ligth";
    src: url("fonts/lineto-brown-light.woff2");
}